#barra-brasil {
  background: #131313;
}

#header {
  background-color: #131313;
}

#sobre {
  background: #292727;
}

body {
  background-color: #131313;
  color: rgb(190, 185, 185);
}

#main {
  background: #131313;
}

.portletNavigationTree > .portletItem a span,
.item-central .link-central {
  color: rgb(190, 185, 185);
}

.portletNavigationTree .portletHeader {
  cursor: pointer;
  background: #292727 url(../img/portlet-header.gif) no-repeat 96% 0.7em;
  background-size: 18px auto;
}

.portletNavigationTree .portletHeader.ativo {
  background: #292727 url(../img/portlet-header-expanded.gif) no-repeat 96%
    0.7em;
  background-size: 18px auto;
}

.azul-claro .outstanding-header {
  background: #292727;
}

.verde .outstanding-header {
  background: #292727;
}

.laranja .outstanding-header {
  background: #292727;
}

.azul-claro .outstanding-header .outstanding-title {
  background: #292727;
}

.verde .outstanding-header .outstanding-title {
  background: #292727;
}

.laranja .outstanding-header .outstanding-title {
  background: #292727;
}

#em-destaque li {
  border-right: 1px solid rgb(190, 185, 185);
  background-color: #292727;
}

.azul-claro .outstanding-header .outstanding-title {
  background: #292727;
}

.tile p {
  color: rgb(190, 185, 185);
}

.azul-claro .outstanding-header {
  background: #292727;
}

#portal-footer {
  background: #131313;
}

ul.css-tabs li.current {
  background-color: #292727;
  color: rgb(190, 185, 185);
}

ul.css-tabs li {
  border: 1px solid #292727;
  background-color: #292727;
  color: rgb(190, 185, 185);
}

.css-panes .pane {
  border: 1px solid #292727;
  background-color: #292727;
}

#footer {
  background: #292727;
}

#doormat-container {
  background: #292727;
}

#wrapper #footer .footer-logos {
  background: #131313;
}
